
.rapid__footer {
   padding:0 15%;
   background-color: yellow;
  
}
.rapid__footer-links {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    text-align: left;
}
.footer-childs{
display: flex;
flex-direction: row;


}

.rapid__footer-links_div {
    width: 180px;
    margin: 0.2rem;
}
.vertical_line{
border-right: 2px solid red;
height: 100px;
margin-top: 4%;
}
.get_in_touch{
    padding-left: 3%;
    
}


.rapid__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.rapid__footer-links_logo img {
    width: 30%;
    height: 50%;
    margin-bottom: 1rem;
}

.rapid__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #000;
}

.rapid__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.rapid__footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #000;

    margin-bottom: 0.9rem;
}

.rapid__footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #000;

    margin: 0.5rem 0;
    cursor: pointer;
}

.rapid__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.rapid__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #000;
}

@media screen and (max-width: 850px) {
    .rapid__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .rapid__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .rapid__footer-links div {
        margin: 1rem 0;
    }

    .rapid__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .rapid__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}