.register_father {
    display: flex;
    justify-content: center;
    background: orange;
    width: 100%;
}

.register_div {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    align-items: center;
    flex-direction: row;
    background-color: pink;
    margin: 10%;
    padding: 20px;
    border-radius: 20px;
}

.register_image {
    max-width: 50vw;
    padding: 20px;
    width: 100%;
}

.register_image img{
    width: 100%;
}


.register_form {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    padding: 20px;
    width: 100%;
    background-color: yellow;
}

.register_form input{
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
}

.register_form button{
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: white;
}

.register_form_p{
    text-align: center;
}